* {
  margin: 0;
  padding: 0;
}

*:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
  outline: 0;
}

*:focus-visible,
input:focus-visible {
  outline: 3px solid #f16d7f;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #222224;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p, button {
  word-break: break-all;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

/*==========Header==========*/
.page-header {
  max-width: 1600px;
  width: 100%;
  min-height: 75px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #222224;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.page-header-wrp {
  max-width: 1140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__search .logo {
  margin: 0 41px 0 0;
  display: block;
  width: 44px;
  height: 38px;
  color: #fff;
}

.page-header__search .logo:hover {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.page-header__search .logo:active {
  -webkit-filter: brightness(10%);
          filter: brightness(10%);
}

.page-header__search .search-form {
  width: 27px;
  height: 29px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.page-header__search .input-search {
  border: none;
  width: 0;
  min-height: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-family: Arial;
  text-transform: capitalize;
  background-color: transparent;
  position: absolute;
  top: 20px;
  left: 355px;
}

.page-header__search .input-search:hover {
  visibility: visible;
}

.page-header__search .input-search:focus {
  width: 200px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
  background-color: #fff;
}

.page-header__search .search {
  width: 100%;
  height: 100%;
  position: relative;
  fill: #fff;
}

.page-header__search .search:hover {
  fill: #f16d7f;
}

.page-header__search .search:active {
  fill: #535353;
}

.page-header__search .search:focus {
  fill: #f16d7f;
}

.page-header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__btn-menu #menu-switch {
  display: none;
}

.page-header__btn-menu #menu-switch:checked ~ .menu-list {
  display: block;
}

.page-header__btn-menu .menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  margin-right: 33px;
  cursor: pointer;
}

.page-header__btn-menu .menu-burger:hover span,
.page-header__btn-menu .menu-burger:hover span::before,
.page-header__btn-menu .menu-burger:hover span::after {
  background-color: #f16d7f;
}

.page-header__btn-menu .menu-burger:active span,
.page-header__btn-menu .menu-burger:active span::before,
.page-header__btn-menu .menu-burger:active span::after {
  background-color: #535353;
}

.page-header__btn-menu .menu-burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.page-header__btn-menu .menu-burger span::before,
.page-header__btn-menu .menu-burger span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0;
}

.page-header__btn-menu .menu-burger span::after {
  top: 10px;
}

.page-header__btn-menu .menu-list {
  display: none;
  width: 232px;
  min-height: 764px;
  padding: 16px 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  list-style: none;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 20;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.page-header__btn-menu .menu-list-close-btn {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 170px;
}

.page-header__btn-menu .menu-list-close-btn::before, .page-header__btn-menu .menu-list-close-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background: #6f6e6e;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.page-header__btn-menu .menu-list-close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.page-header__btn-menu .menu-list-close-btn:hover::before, .page-header__btn-menu .menu-list-close-btn:hover::after {
  background: #f16d7f;
}

.page-header__btn-menu .menu-list-close-btn:active::before, .page-header__btn-menu .menu-list-close-btn:active::after {
  background: #535353;
}

.page-header__btn-menu .menu-list-title {
  display: block;
  margin: 9px 0 24px 0;
  font-weight: bold;
  color: #222224;
  text-transform: uppercase;
}

.page-header__btn-menu .menu-list-items > a {
  display: block;
  margin: 0 0 11px 0;
  color: #f16d7f;
  text-transform: uppercase;
}

.page-header__btn-menu .menu-list-items:hover > a {
  color: #9889d7;
}

.page-header__btn-menu .menu-list-items:active > a {
  color: #535353;
}

.page-header__btn-menu .menu-list-items__sublist {
  padding: 0 0 0 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.page-header__btn-menu .menu-list-items__sublist-item > a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 11px 0;
  color: #6f6e6e;
}

.page-header__btn-menu .menu-list-items__sublist-item:hover a {
  text-decoration: underline;
}

.page-header__btn-menu .menu-list-items__sublist-item:active a {
  text-decoration: none;
}

.page-header__btn-menu-items > a,
.page-header__btn-menu-items__sublist-item > a {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

.page-header__btn-account {
  margin-right: 33px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.page-header__btn-account:hover svg {
  fill: #f16d7f;
}

.page-header__btn-account:active svg {
  fill: #535353;
}

.page-header__btn-account svg {
  display: block;
  width: 29px;
  height: 29px;
  fill: #fff;
}

.page-header__btn-cart {
  cursor: pointer;
}

.page-header__btn-cart svg {
  display: block;
  width: 32px;
  height: 29px;
  fill: #fff;
}

.page-header__btn-cart:hover svg {
  fill: #f16d7f;
}

.page-header__btn-cart:active svg {
  fill: #535353;
}

.heading {
  height: 148px;
  background: #f8f3f4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.heading-title {
  display: block;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-transform: uppercase;
  margin: 0 0 0 230px;
}

/*==========Main==========*/
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.products-item {
  display: block;
  width: 360px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-item:hover .products-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-item:hover .products-item-btn:hover {
  background-color: #fff;
  color: #222224;
  border: 1px solid #222224;
}

.products-item:hover .products-item-btn:hover svg {
  fill: #222224;
}

.products-item:hover .products-item-btn:active {
  background-color: transparent;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.products-item:hover .products-item-btn:active svg {
  fill: #f16d7f;
}

.products-item:hover .products-item-photo {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.products-item:hover .products-item-photo-wrp:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
}

.products-item-photo-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #f7e4e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-item-photo {
  display: block;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-item-txt-wrp {
  padding: 25px 18px 20px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.products-item-title {
  display: block;
  margin: 0 0 12px 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #222224;
}

.products-item-txt {
  margin: 0 0 18px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.products-item-price {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.products-item-btn {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  position: absolute;
  top: 30%;
  left: calc(50% - 80px);
}

.products-item-btn svg {
  fill: #fff;
  margin: 0 11px 0 0;
}

.products-btn-wrp {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-btn-wrp .products-btn {
  display: block;
  width: 211px;
  padding: 15px;
  background-color: #f16d7f;
  border: 2px solid #f16d7f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  word-break: break-all;
  color: #fff;
}

.products-btn-wrp .products-btn:hover {
  background-color: #fff;
  border: 2px solid #f16d7f;
  color: #f16d7f;
}

.products-btn-wrp .products-btn:active {
  background-color: #fff;
  border: 2px solid #f16d7f;
  color: #535353;
}

/*==========Feachers==========*/
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 341px;
  padding: 20px;
  margin: 95px auto 0 auto;
  background-color: #222224;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.features-wrp {
  max-width: 1140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
}

.features-item-item:nth-child(4n-1) {
  margin: 0;
}

.features-item-icon {
  display: block;
  margin: 0 0 28px 0;
  fill: #f16d7f;
}

.features-item-title {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.features-item-txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}

/*==========Footer==========*/
.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  width: 100%;
  min-height: 448px;
  padding: 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url(../img/background.png);
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.subscribe-wrp {
  max-width: 1140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 340px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 360px;
}

.subscribe-info-avatar {
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 0 30px 0;
  background-image: url(../img/avatar.png);
  background-size: 100%;
  background-position: center -10px;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.subscribe-info-txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  word-break: break-word;
}

.subscribe-info-txt span {
  font-style: italic;
}

.subscribe-form-wrp {
  width: 355px;
}

.subscribe-title, .subscribe-subtitle {
  color: #222224;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-title {
  display: block;
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 40, 13px;
}

.subscribe-subtitle {
  display: block;
  margin: 0 0 32px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30, 1px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 356px;
}

.subscribe-form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 25px 0 0 25px;
  background-color: #e1e1e1;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-form-btn {
  display: block;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 0 25px 25px 0;
  background-color: #f16d7f;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

.subscribe-form-btn:hover {
  background-color: #fff;
  color: #f16d7f;
}

.subscribe-form-btn:active {
  background-color: #f16d7f;
  color: #f16d7f;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1600px;
  min-height: 79px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #222224;
}

.page-footer-wrp {
  max-width: 1140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.page-footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 148px;
}

.page-footer-socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.page-footer-socials-item svg {
  fill: #222224;
}

.page-footer-socials-item:hover {
  background-color: #f16d7f;
}

.page-footer-socials-item:hover svg {
  fill: #fff;
}

.page-footer-socials-item:nth-child(2) {
  background-color: #f16d7f;
}

.page-footer-socials-item:nth-child(2) svg {
  fill: #fff;
}

/*==========Page Main==========*/
.page-main {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.page-main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  width: 100%;
  min-height: 764px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1e4e6;
  margin: 0 0 65px 0;
}

.page-main-banner:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.page-main-banner-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/figure_man.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -66%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-main-banner-cap {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 100px 100px;
  -ms-flex-item-align: center;
      align-self: center;
}

.page-main-banner-cap__title {
  margin: 0;
  display: block;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222224;
}

.page-main-banner-cap__subtitle {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  position: relative;
}

.page-main-banner-cap__subtitle :before {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  position: absolute;
  top: -55px;
  left: -30px;
}

.page-main-banner-cap__subtitle span {
  color: #f16d7f;
}

.page-main-wrp {
  max-width: 1140px;
  margin: 0 auto;
}

.page-main .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 auto 96px auto;
}

.page-main .categories-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 360px;
  min-height: 260px;
  margin: 0 30px 30px 0;
  background-size: cover;
  background-position: center;
}

.page-main .categories-item:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/woman.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/woman.png);
}

.page-main .categories-item:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/man.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/man.png);
}

.page-main .categories-item:nth-child(3) {
  margin: 0 0 30px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/kid.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/kid.png);
}

.page-main .categories-item:last-child {
  width: 100%;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/colage.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/colage.png);
}

.page-main .categories-item-title, .page-main .categories-item-subtitle {
  display: block;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

.page-main .categories-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #f16d7f;
}

.page-main .categories-item-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.page-main .products-header {
  display: block;
  text-align: center;
  margin: 0 0 48px 0;
  width: 100%;
  text-align: center;
  font-weight: normal;
}

.page-main .products-header-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 6px 0;
}

.page-main .products-header-text {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

/*==========Page Catalog==========*/
.page-catalog {
  width: 100%;
}

.page-catalog-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 148px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f8f3f4;
}

.page-catalog-nav-cap {
  display: block;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-transform: uppercase;
}

.page-catalog-nav-breadcrumbs {
  display: block;
  width: 209px;
}

.page-catalog-nav-breadcrumbs .breadcrumbs-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  text-transform: uppercase;
  position: relative;
  padding: 0;
}

.page-catalog-nav-breadcrumbs .breadcrumbs-list > li:nth-of-type(3) a {
  color: #f16d7f;
  font-weight: 700;
}

.page-catalog-nav-breadcrumbs .breadcrumbs-list-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.page-catalog-nav-breadcrumbs .breadcrumbs-list-link .link {
  text-decoration: none;
  color: #636363;
}

.page-catalog-nav-breadcrumbs .breadcrumbs-list-link .link:hover {
  color: #f16d7f;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-catalog-nav-breadcrumbs .breadcrumbs-list-link .link:active {
  color: #535353;
}

.page-catalog-nav-breadcrumbs .breadcrumbs-list-link .link .slash-first::after {
  content: "";
  display: block;
  width: 12px;
  height: 0.5px;
  background: #636363;
  position: absolute;
  top: 9px;
  left: 45px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
}

.page-catalog-nav-breadcrumbs .breadcrumbs-list-link .link .slash-second::after {
  content: "";
  display: block;
  width: 12px;
  height: 0.5px;
  background: #636363;
  position: absolute;
  top: 9px;
  left: 93px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
}

.catalog-wrp {
  max-width: 1140px;
  margin: 0 auto;
}

.catalog-wrp .catalog-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 51px 0 64px 0;
}

.catalog-wrp .catalog-control-filter {
  width: 360px;
  padding: 13px 16px 16px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.catalog-wrp .catalog-control-filter #switch-filter {
  display: none;
}

.catalog-wrp .catalog-control-filter #switch-filter:checked ~ .filter-list {
  display: block;
}

.catalog-wrp .catalog-control-filter .filter-btn {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #222224;
  text-align: left;
}

.catalog-wrp .catalog-control-filter .filter-btn span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.catalog-wrp .catalog-control-filter .filter-btn svg {
  margin: 0 0 0 11px;
  fill: currentColor;
}

.catalog-wrp .catalog-control-filter .filter-btn:hover {
  color: #f16d7f;
}

.catalog-wrp .catalog-control-filter .filter-btn:active {
  color: #222224;
}

.catalog-wrp .catalog-control-filter .filter-list {
  display: none;
  list-style: none;
  margin: 0;
  background: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 9;
  position: absolute;
  width: 360px;
  padding: 13px 16px 16px 16px;
  left: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-wrp .catalog-control-filter .filter-list-item {
  width: 100%;
  margin: 0 0 18px 0;
  padding: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}

.catalog-wrp .catalog-control-filter .filter-list-item:before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #f16d7f;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.catalog-wrp .catalog-control-filter .filter-list-item a {
  text-transform: uppercase;
  color: #f16d7f;
  text-decoration: none;
}

.catalog-wrp .catalog-control-filter .filter-list-item:hover:before {
  background-color: #f16d7f;
}

.catalog-wrp .catalog-control-filter .filter-list-item:hover a {
  color: #f16d7f;
}

.catalog-wrp .catalog-control-filter .filter-list-item:active:before {
  background-color: #535353;
}

.catalog-wrp .catalog-control-filter .filter-list-item:active a {
  color: #535353;
}

.catalog-wrp .catalog-control-filter .filter-list .filter-sublist {
  margin: 24px 0 0 0;
  padding: 0 0 0 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.catalog-wrp .catalog-control-filter .filter-list .filter-sublist-item {
  margin: 0 0 11px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
}

.catalog-wrp .catalog-control-filter .filter-list .filter-sublist-item:last-child {
  margin: 0 0 24px 0;
}

.catalog-wrp .catalog-control-filter .filter-list .filter-sublist-item a {
  color: #636363;
  text-decoration: none;
}

.catalog-wrp .catalog-control-filter .filter-list .filter-sublist-item:hover a {
  color: #f16d7f;
}

.catalog-wrp .catalog-control-filter .filter-list .filter-sublist-item:active a {
  color: #222224;
}

.catalog-wrp .catalog-control-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 13px 16px 16px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-wrp .catalog-control-sort .link-trend,
.catalog-wrp .catalog-control-sort .sort-price,
.catalog-wrp .catalog-control-sort .list-size {
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #636363;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 18px 0;
}

.catalog-wrp .catalog-control-sort .link-trend {
  display: block;
  width: 132px;
  position: relative;
}

.catalog-wrp .catalog-control-sort .link-trend svg {
  fill: currentColor;
  position: absolute;
  top: 40%;
  left: 100%;
}

.catalog-wrp .catalog-control-sort .link-trend:hover {
  color: #f16d7f;
}

.catalog-wrp .catalog-control-sort .link-trend:hover svg {
  fill: currentColor;
}

.catalog-wrp .catalog-control-sort .link-trend:active {
  color: #222224;
}

.catalog-wrp .catalog-control-sort .link-trend:active svg {
  fill: currentColor;
}

.catalog-wrp .catalog-control-sort .list-size {
  width: 80px;
  border: none;
  background-color: transparent;
  margin-left: 28px;
  position: relative;
}

.catalog-wrp .catalog-control-sort .list-size-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

.catalog-wrp .catalog-control-sort .list-size-btn-title svg {
  fill: currentColor;
  position: absolute;
  top: 40%;
  left: 60%;
}

.catalog-wrp .catalog-control-sort .list-size-btn-title:hover {
  color: #f16d7f;
}

.catalog-wrp .catalog-control-sort .list-size-btn-title:hover svg {
  fill: currentColor;
}

.catalog-wrp .catalog-control-sort .list-size-btn-title:active {
  color: #222224;
}

.catalog-wrp .catalog-control-sort .list-size-btn-title:active svg {
  fill: currentColor;
}

.catalog-wrp .catalog-control-sort .list-size #switch {
  display: none;
}

.catalog-wrp .catalog-control-sort .list-size #switch:checked ~ .list-size-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-wrp .catalog-control-sort .list-size-wrp {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  z-index: 9;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 79px;
}

.catalog-wrp .catalog-control-sort .list-size-wrp .list-size-item {
  display: none;
}

.catalog-wrp .catalog-control-sort .list-size-wrp .list-size-item:nth-child(1):checked ~ .list-size-item-title:nth-child(2):before,
.catalog-wrp .catalog-control-sort .list-size-wrp .list-size-item:nth-child(3):checked ~ .list-size-item-title:nth-child(4):before,
.catalog-wrp .catalog-control-sort .list-size-wrp .list-size-item:nth-child(5):checked ~ .list-size-item-title:nth-child(6):before,
.catalog-wrp .catalog-control-sort .list-size-wrp .list-size-item:nth-child(7):checked ~ .list-size-item-title:nth-child(8):before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png");
  background-size: cover;
  background-position: center;
}

.catalog-wrp .catalog-control-sort .list-size-wrp .list-size-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #636363;
}

.catalog-wrp .catalog-control-sort .list-size-wrp .list-size-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #ebebeb;
  position: absolute;
  top: 1px;
  left: -23.5px;
}

.catalog-wrp .catalog-control-sort .sort-price {
  display: block;
  width: 80px;
  position: relative;
}

.catalog-wrp .catalog-control-sort .sort-price svg {
  fill: currentColor;
  position: absolute;
  top: 40%;
  left: 70%;
}

.catalog-wrp .catalog-control-sort .sort-price:hover {
  color: #f16d7f;
}

.catalog-wrp .catalog-control-sort .sort-price:hover svg {
  fill: currentColor;
}

.catalog-wrp .catalog-control-sort .sort-price:active {
  color: #535353;
}

.catalog-wrp .catalog-control-sort .sort-price:active svg {
  fill: currentColor;
}

.catalog-wrp .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.catalog-wrp .products-item {
  display: block;
  width: 360px;
  position: relative;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-wrp .products-item:hover .products-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-wrp .products-item:hover .products-item-btn:hover {
  background-color: #fff;
  color: #222224;
  border: 1px solid #222224;
}

.catalog-wrp .products-item:hover .products-item-btn:hover svg {
  fill: #222224;
}

.catalog-wrp .products-item:hover .products-item-btn:active {
  background-color: transparent;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.catalog-wrp .products-item:hover .products-item-btn:active svg {
  fill: #f16d7f;
}

.catalog-wrp .products-item:hover .products-item-photo {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.catalog-wrp .products-item:hover .products-item-photo-wrp:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
}

.catalog-wrp .products-item-photo-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #f7e4e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-wrp .products-item-photo {
  display: block;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-wrp .products-item-txt-wrp {
  padding: 25px 18px 20px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.catalog-wrp .products-item-title {
  display: block;
  margin: 0 0 12px 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #222224;
}

.catalog-wrp .products-item-txt {
  margin: 0 0 18px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.catalog-wrp .products-item-price {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.catalog-wrp .products-item-btn {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  position: absolute;
  top: 30%;
  left: calc(50% - 80px);
}

.catalog-wrp .products-item-btn svg {
  fill: #fff;
  margin: 0 11px 0 0;
}

.catalog-wrp .products .pagination-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 49px 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  position: relative;
}

.catalog-wrp .products .pagination-wrp svg {
  display: block;
  position: absolute;
  fill: #222224;
  width: 14px;
  height: 8px;
}

.catalog-wrp .products .pagination-wrp svg :hover {
  fill: #f16d7f;
}

.catalog-wrp .products .pagination-wrp svg :active {
  fill: #535353;
}

.catalog-wrp .products .pagination-wrp .svg-link-left svg {
  right: 60%;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
  top: 42%;
}

.catalog-wrp .products .pagination-wrp .svg-link-right svg {
  right: 39%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  top: 42%;
}

.catalog-wrp .products .pagination-wrp .pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 283px;
  list-style-type: none;
  border: 1px solid #ebebeb;
  padding: 12px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.catalog-wrp .products .pagination-wrp .pagination-list:hover {
  border: 1px solid #f16d7f;
}

.catalog-wrp .products .pagination-wrp .pagination-list-item {
  display: inline;
}

.catalog-wrp .products .pagination-wrp .pagination-list-item-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ebebeb;
}

.catalog-wrp .products .pagination-wrp .pagination-list-item-link:hover {
  color: #f16d7f;
  font-weight: bold;
}

.catalog-wrp .products .pagination-wrp .pagination-list-item-link:active {
  color: #535353;
}

.catalog-wrp .products .pagination-wrp .pagination-list > li:nth-of-type(1) a {
  color: #f16d7f;
}

/*==========Page Product==========*/
.page-product {
  width: 100%;
  margin: 0 0 128px 0;
}

.page-product .carousel-wrp {
  max-width: 1600px;
  width: 100%;
  min-height: 777px;
  background: #f7f7f7;
  border: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-product .carousel-wrp .carousel {
  width: 597px;
  height: 724px;
  position: relative;
}

.page-product .carousel-wrp .carousel .image-size {
  height: 724px;
}

.page-product .carousel-wrp .carousel .prev {
  position: absolute;
  left: -75%;
  top: 46%;
  border: none;
}

.page-product .carousel-wrp .carousel .prev svg {
  fill: #222224;
}

.page-product .carousel-wrp .carousel .next {
  position: absolute;
  right: -75%;
  top: 46%;
  border: none;
}

.page-product .carousel-wrp .carousel .next svg {
  fill: #f16d7f;
}

.page-product .carousel-wrp .carousel button:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.page-product .carousel-wrp .carousel button:active svg {
  fill: #fff;
}

.page-product .product-card-wrp {
  width: 100%;
  height: 600px;
  position: relative;
  margin: 0 0 126px 0;
}

.page-product .product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1140px;
  min-height: 600px;
  background: #fff;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 40px 0;
  border: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: -35px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.page-product .product-card-name {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  text-transform: uppercase;
  padding: 12px;
  margin: 0 0 12px;
  position: relative;
}

.page-product .product-card-name:after {
  content: "";
  display: block;
  width: 63px;
  border-bottom: 3px solid #f16d7f;
  position: absolute;
  right: 30%;
  bottom: -10%;
}

.page-product .product-card-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  text-transform: uppercase;
  margin: 0 0 48px;
}

.page-product .product-card-txt {
  max-width: 555px;
  min-height: 52px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
  margin: 0 0 32px;
}

.page-product .product-card .price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.page-product .product-card .line {
  height: 1px;
  width: 641px;
  color: #cacaca;
  margin: 65px 0;
}

.page-product .product-card-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-transform: uppercase;
  width: 373px;
}

.page-product .product-card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 211px;
  padding: 14px 0 14px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ff6a6a;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin: 48px 0 25px 0;
}

.page-product .product-card-btn svg {
  fill: #f16d7f;
  margin: 0 11px 0 0;
}

.page-product .product-card-btn:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ff6a6a;
}

.page-product .product-card-btn:active {
  border: 1px solid #535353;
}

.page-product .product-card-btn span {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.page-product .product-card-btn span:hover {
  font-weight: bold;
}

.page-product .product-card-btn span:active {
  color: #535353;
}

.page-product .product-card-btn:active svg {
  fill: #535353;
}

/*==========Page Cart==========*/
.page-shopping {
  width: 100%;
}

.page-shopping .cart-wrp {
  padding: 96px 0 128px 0;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-shopping .cart-wrp .cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-shopping .cart-wrp .cart-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 652px;
  height: 306px;
  margin: 0 0 40px 0;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.page-shopping .cart-wrp .cart-list-item-img {
  width: 40%;
}

.page-shopping .cart-wrp .cart-list-item-img img {
  width: 100%;
  height: 100%;
}

.page-shopping .cart-wrp .cart-list-item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  padding: 22px 97px 62px 31px;
  font-weight: normal;
  position: relative;
}

.page-shopping .cart-wrp .cart-list-item-desc::before, .page-shopping .cart-wrp .cart-list-item-desc::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background: #575757;
  border-radius: 10px;
  position: absolute;
  top: 35px;
  right: 24px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.page-shopping .cart-wrp .cart-list-item-desc::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.page-shopping .cart-wrp .cart-list-item-desc:hover::before, .page-shopping .cart-wrp .cart-list-item-desc:hover::after {
  background: #f16d7f;
}

.page-shopping .cart-wrp .cart-list-item-desc:active::before, .page-shopping .cart-wrp .cart-list-item-desc:active::after {
  background: #535353;
}

.page-shopping .cart-wrp .cart-list-item-desc h3 {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  word-wrap: break-word;
  margin: 0 52px 42px 0;
}

.page-shopping .cart-wrp .cart-list-item-desc .desc-box {
  list-style-type: none;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding: 0;
  margin: 0;
}

.page-shopping .cart-wrp .cart-list-item-desc .desc-box li > span {
  color: #f16d7f;
}

.page-shopping .cart-wrp .cart-list-item-desc input {
  position: absolute;
  width: 44px;
  padding: 1px 15px;
  top: 219px;
  left: 145px;
}

.page-shopping .cart-wrp .cart-list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-shopping .cart-wrp .cart-list-btn button {
  padding: 16px 40px;
  border: 1px solid #a4a4a4;
  background-color: #fff;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.page-shopping .cart-wrp .cart-list-btn button:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
}

.page-shopping .cart-wrp .cart-list-btn button:active {
  border: 1px solid #535353;
  color: #535353;
}

.page-shopping .cart-wrp .shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 360px;
  padding: 17px 0 0 0;
}

.page-shopping .cart-wrp .shipping h6 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0 0 21px;
}

.page-shopping .cart-wrp .shipping-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 0 58px 0;
}

.page-shopping .cart-wrp .shipping-form input {
  width: 100%;
  padding: 13px 0 16px 17px;
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #a4a4a4;
}

.page-shopping .cart-wrp .shipping-form input::-webkit-input-placeholder {
  color: #222224;
}

.page-shopping .cart-wrp .shipping-form input:-ms-input-placeholder {
  color: #222224;
}

.page-shopping .cart-wrp .shipping-form input::-ms-input-placeholder {
  color: #222224;
}

.page-shopping .cart-wrp .shipping-form input::placeholder {
  color: #222224;
}

.page-shopping .cart-wrp .shipping-form input:first-of-type::-webkit-input-placeholder {
  color: #b1b1b1;
}

.page-shopping .cart-wrp .shipping-form input:first-of-type:-ms-input-placeholder {
  color: #b1b1b1;
}

.page-shopping .cart-wrp .shipping-form input:first-of-type::-ms-input-placeholder {
  color: #b1b1b1;
}

.page-shopping .cart-wrp .shipping-form input:first-of-type::placeholder {
  color: #b1b1b1;
}

.page-shopping .cart-wrp .shipping-form input:last-of-type {
  margin-bottom: 24px;
}

.page-shopping .cart-wrp .shipping-form button {
  width: 100px;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  background-color: #fff;
  border: 1px solid #a4a4a4;
  text-transform: uppercase;
  padding: 10px 13px 10px;
}

.page-shopping .cart-wrp .shipping-form button:hover {
  color: #f16d7f;
  border-color: #f16d7f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-shopping .cart-wrp .shipping .checkout {
  display: block;
  width: 100%;
  padding: 39px 36px 42px 52px;
  background: #f5f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-shopping .cart-wrp .shipping .checkout h6 {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  text-align: end;
  margin: 0 0 12px;
}

.page-shopping .cart-wrp .shipping .checkout h4 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: end;
  margin: 0 0 21px;
}

.page-shopping .cart-wrp .shipping .checkout h4 span {
  font-weight: normal;
  color: #f16d7f;
}

.page-shopping .cart-wrp .shipping .checkout hr {
  height: 1px;
  background: #e2e2e2;
  margin: 0 0 17px;
}

.page-shopping .cart-wrp .shipping .checkout a {
  display: block;
  text-decoration: none;
  padding: 16px 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-transform: uppercase;
  background: #f16d7f;
  border: none;
}

.page-shopping .cart-wrp .shipping .checkout a:hover {
  color: #f16d7f;
  background: #fff;
  border: 1px solid #f16d7f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*==========Page Registration==========*/
.page-registration {
  width: 100%;
}

.page-registration .registration-wrp {
  width: 1140px;
  margin: 0 auto;
  padding: 64px 0 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-registration .registration-wrp .registration-form {
  display: block;
  width: 360px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.page-registration .registration-wrp .registration-form label {
  margin: 0 0 20px;
}

.page-registration .registration-wrp .registration-form label:nth-of-type(1) {
  margin: 0 20px 33px 0;
}

.page-registration .registration-wrp .registration-form .form-input {
  display: block;
  width: 100%;
  border: 1px solid #A4A4A4;
  padding: 13px 0 13px 17px;
  margin: 0 0 21px 0;
}

.page-registration .registration-wrp .registration-form .form-input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.page-registration .registration-wrp .registration-form .form-input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.page-registration .registration-wrp .registration-form .form-input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.page-registration .registration-wrp .registration-form .form-input::placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.page-registration .registration-wrp .registration-form .input-radio {
  font-size: 11px;
  line-height: 13px;
}

.page-registration .registration-wrp .registration-form .requirement {
  max-width: 360px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin: 0 0 39px;
}

.page-registration .registration-wrp .registration-form button {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-transform: uppercase;
  background: #f16d7f;
  padding: 16px 60px 16px 29px;
  border: none;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 119px;
  background-position-y: 18px;
}

.page-registration .registration-wrp .conditions {
  width: 652px;
  height: 334px;
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  word-break: break-all;
}

.page-registration .registration-wrp .conditions h3 {
  text-transform: uppercase;
}

.page-registration .registration-wrp .conditions p {
  width: 100%;
  margin: 0;
}

.page-registration .registration-wrp .conditions ul {
  list-style-image: url(../img/done.svg);
  padding: 21px 53px 21px 28px;
}

.page-registration .registration-wrp .conditions ul li {
  margin: 0 0 16px 0;
}

/*==========Adaptive tablet==========*/
/*==========Page Main==========*/
@media (max-width: 768px) {
  .page-header {
    padding: 0 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .page-main-banner {
    min-height: 367px;
  }
  .page-main-banner-wrp {
    background-position: 0;
  }
  .page-main-banner-cap {
    width: 43%;
    padding: 0 33px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .page-main-banner-cap__title {
    font-size: 44px;
    line-height: 52.8px;
  }
  .page-main-banner-cap__subtitle {
    font-size: 24px;
    line-height: 28.8px;
  }
  .page-main .categories {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .page-main .categories-item {
    width: 232px;
    min-height: 167px;
    margin: 0 17px 19px 0;
  }
  .page-main .categories-item:last-child {
    margin: 0;
  }
  .page-main .categories-item:nth-child(3) {
    margin: 0 0 19px 0;
  }
  .products {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .products-btn-wrp {
    margin: 13px auto 0 auto;
  }
  .features-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 64px 20px 64px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 65px auto 0 auto;
  }
  .features-item {
    margin: 0 auto 48px auto;
  }
  .features-item:last-child {
    margin: 0;
  }
  .subscribe {
    padding: 64px 20px 140px 20px;
    background-size: 298%;
    background-color: #f3f3f3;
    background-position: 26% 77px;
  }
  .subscribe-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe-info {
    margin: 0 auto 80px auto;
  }
  .subscribe-form-wrp {
    margin: 0 auto;
  }
  .page-footer {
    padding: 20px 32px;
  }
}
/*# sourceMappingURL=style.css.map */