@import "variables";
@import "general";

/*==========Page Main==========*/

.page-main {
   width: 100%;
   margin: 0 auto;
   background-color: $white;
   &-banner {
      display: flex;
      max-width: $width;
      width: 100%;
      min-height: $height764;
      justify-content: flex-end;
      align-items: center;
      background-color: #f1e4e6;
      margin: 0 0 65px 0;
      &:hover {
         filter: brightness(50%);
      }
      &-wrp{
         display: flex;
         align-self: stretch;
         max-width: $wrp;
         width: 100%;
         margin: 0 auto;
         box-sizing: border-box;
         background-image: url(../img/figure_man.png);
         background-repeat: no-repeat;
         background-size: contain;
         background-position: -66%;
         justify-content: flex-end;
      }
      &-cap {
         text-transform: uppercase;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         padding: 0 100px 100px;
         align-self: center;
         &__title {
            margin: 0;
            display: block;
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
            color: $black;
         }
         &__subtitle {
            display: block;
            font-weight: 700;
            font-size: 32px;
            line-height: 38.4px;
            position: relative;
            :before {
               content: "";
               display: block;
               width: 12px;
               height: 92px;
               background-color: $pink;
               position: absolute;
               top: -55px;
               left: -30px;
            }
            span {
               color: $pink;
            }
         }
      }
      
   }
   &-wrp {
      max-width: $wrp;
      margin: 0 auto;
   }
   .categories {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto 96px auto;
      &-item {
         display: flex;
         justify-content: center;
         align-items: center;
         align-content: center;
         flex-wrap: wrap;
         width: 360px;
         min-height: 260px;
         margin: 0 30px 30px 0;
         background-size: cover;
         background-position: center;
         &:nth-child(1) {
            background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/woman.png);
         }
         &:nth-child(2) {
            background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/man.png);
         }
         &:nth-child(3) {
            margin: 0 0 30px 0;
            background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/kid.png);
         }
         &:last-child {
            width: 100%;
            margin: 0;
            background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/colage.png);
         }
         &-title,
         &-subtitle {
            display: block;
            width: 100%;
            text-transform: uppercase;
            text-align: center;
         }
         &-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: $pink;
         }
         &-subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $white;
         }
      }
   }
   .products-header {
      display: block;
      text-align: center;
      margin: 0 0 48px 0;
      width: 100%;
      text-align: center;
      font-weight: normal;
      &-title {
         font-size: 30px;
         line-height: 36px;
         margin: 0 0 6px 0;
      }
      &-text {
         font-size: 14px;
         line-height: 17px;
         color: #9f9f9f;
      }
   }
}

/*==========Page Catalog==========*/

.page-catalog-nav {
   max-width: $width;
   width: 100%;
   min-height: $height148;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   background-color: #f8f3f4;
   &-wrp {
      max-width: $wrp;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
   }
   &-cap {
      display: block;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      color: $pink;
      text-transform: uppercase;
   }
   &-breadcrumbs {
      display: block;
      width: 209px;
   }
   .breadcrumbs-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      text-transform: uppercase;
      position: relative;
      padding: 0;
      li+li::before {
         content: "/\00a0";
      }
      &__item:nth-of-type(3) a {
         color: $pink;
         font-weight: 700;
      }
      &__item {
         text-decoration: none;
         font-weight: 300;
         font-size: 14px;
         line-height: 17px;
         &-link {
            text-decoration: none;
            color: $grey;
            &:hover {
               color: $pink;
               font-weight: 400;
               box-sizing: border-box;
            }
            &:active {
               color: $activ-color;
            }
         }
      }
   }  
    
}
.page-catalog {
   max-width: $width;
   width: 100%;
   background-color: $white;
   &-wrp {
      max-width: $wrp;
      width: 100%;
      margin: 0 auto;
   }
   &-control {
      display: flex;
      width: 100%;
      align-items: flex-start;
      padding: 51px 0 64px 0;
      &__filter {
         width: 360px;
         padding: 13px 16px 16px 16px;
         box-sizing: border-box;
         position: relative;
         #switch-filter {
            display: none;
         }
         #switch-filter:checked ~ .filter-list {
            display: block;
         }  
      }
      .filter-btn {
         display: block;
         width: 100%;
         margin: 0 0 16px 0;
         padding: 0;
         background-color: transparent;
         border: none;
         color: $black;
         text-align: left;
         span {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
         }
         svg {
            margin: 0 0 0 11px;
            fill: currentColor;
         }

         &:hover {
            color: $pink;
         }
         &:active {
            color: $black;
         }
      }
      .filter-list {
         display: none;
         list-style: none;
         margin: 0;
         background: #fff;
         box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
         z-index: 9;
         position: absolute;
         width: 360px;
         padding: 13px 16px 16px 16px;
         left: 0%;
         box-sizing: border-box;
         &-item {
            width: 100%;
            margin: 0 0 18px 0;
            padding: 11px;
            box-sizing: border-box;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            border-bottom: 1px solid #ebebeb;
            position: relative;
         }
         &-item:before {
            content: "";
            display: block;
            width: 5px;
            height: 37px;
            background-color: $pink;
            position: absolute;
            bottom: -1px;
            left: 0;
         }
         &-item a {
            text-transform: uppercase;
            color: $pink;
            text-decoration: none;
         }
         &-item:hover:before {
            background-color: $pink;
         }
         &-item:hover a {
            color: $pink;
         }
         &-item:active:before {
            background-color: $activ-color;
         }
         &-item:active a {
            color: $activ-color;
         }
         &-sublist {
            margin: 24px 0 0 0;
            padding: 0 0 0 7px;
            box-sizing: border-box;
            list-style: none;
            &__item {
               margin: 0 0 11px 0;
               font-weight: normal;
               font-size: 14px;
               line-height: 16.8px;
            }
            &__item:last-child {
               margin: 0 0 24px 0;
            }

            &__item a {
               color: $grey;
               text-decoration: none;
            }

            &__item:hover a {
               color: $pink;
            }
            &__item:active a {
               color: $black;
            }
         }
      }
      &__sort {
         display: flex;
         width: 360px;
         justify-content: space-between;
         align-items: flex-start;
         padding: 13px 16px 16px 16px;
         box-sizing: border-box;
      }
      .link-trend,
      .sort-price,
      .list-size {
         font-weight: normal;
         font-size: 14px;
         line-height: 16.8px;
         color: $grey;
         background-color: transparent;
         text-align: left;
         text-transform: uppercase;
         margin: 0 0 18px 0;
      }
      .link-trend {
         display: block;
         width: 132px;
         position: relative;
         svg {
            fill: currentColor;
            position: absolute;
            top: 40%;
            left: 100%;
         }
         &:hover {
            color: $pink;
         }
         &:hover svg {
            fill: currentColor;
         }
         &:active {
            color: $black;
         }
         &:active svg {
            fill: currentColor;
         }
      }
      .list-size {
         width: 80px;
         border: none;
         background-color: transparent;
         margin-left: 28px;
         position: relative;
         &-btn-title {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
            border: none;
            position: relative;
            svg {
               fill: currentColor;
               position: absolute;
               top: 40%;
               left: 60%;
            }
         }
         &-btn-title:hover {
            color: $pink;
         }
         &-btn-title:hover svg {
            fill: currentColor;
         }
         &-btn-title:active {
            color: $black;
         }
         &-btn-title:active svg {
            fill: currentColor;
         }
         #switch {
            display: none;
         }
         #switch:checked ~ .list-size-wrp {
            display: flex;
         }
         &-wrp {
            display: none;
            flex-direction: column;
            margin: 5px 0 0 0;
            padding: 9.5px 9.5px 9.5px 31px;
            box-sizing: border-box;
            background-color: $white;
            position: absolute;
            z-index: 9;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            width: 79px;
         }
         &-item {
            display: none;
         }
         &-item-title {
            display: block;
            margin: 0 0 6px 0;
            position: relative;
            text-transform: uppercase;
            font-family: Roboto;
            font-weight: normal;
            font-size: 14px;
            line-height: 16.41px;
            color: $grey;
            &:before {
               content: "";
               display: block;
               width: 12px;
               height: 12px;
               border: 1px solid #ebebeb;
               position: absolute;
               top: 1px;
               left: -23.5px;
            }
         }
      }
      .list-size-item:nth-child(1):checked ~ .list-size-item-title:nth-child(2):before,
      .list-size-item:nth-child(3):checked ~ .list-size-item-title:nth-child(4):before,
      .list-size-item:nth-child(5):checked ~ .list-size-item-title:nth-child(6):before,
      .list-size-item:nth-child(7):checked ~ .list-size-item-title:nth-child(8):before {
         background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png");
         background-size: cover;
         background-position: center;
         }
      .sort-price {
         display: block;
         width: 80px;
         position: relative;
         svg {
            fill: currentColor;
            position: absolute;
            top: 40%;
            left: 71%;
         }
         &:hover {
            color: $pink;
         }
         &:hover svg {
            fill: currentColor;
         }
         &:active {
            color: $activ-color;
         }
         &:active svg {
            fill: currentColor;
         }
      }
   }
   .products {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      box-sizing: border-box;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1140px;
      margin: 0 auto;
      &-item {
         display: block;
         width: 360px;
         position: relative;
         text-decoration: none;
         box-sizing: border-box;
         &:hover .products-item-btn {
            display: flex;
         }
         &:hover .products-item-btn:hover {
            background-color: $white;
            color: $black;
            border: 1px solid $black;
         }
         &:hover .products-item-btn:hover svg {
            fill: $black;
         }
         &:hover .products-item-btn:active {
            background-color: transparent;
            color: $pink;
            border: 1px solid $pink;
         }
         &:hover .products-item-btn:active svg {
            fill: $pink;
         }
         &:hover .products-item-photo {
            filter: brightness(50%);
         }
         &:hover .products-item-photo-wrp:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(58, 56, 56, 0.86);
         }
         &-photo-wrp {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: #f7e4e2;
            box-sizing: border-box;
         }
         &-photo {
            display: block;
            margin: 0 auto;
            box-sizing: border-box;
         }
         &-txt-wrp {
            padding: 25px 18px 20px 18px;
            box-sizing: border-box;
            text-align: left;
         }
         &-title {
            display: block;
            margin: 0 0 12px 0;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 16px;
            color: $black;
         }
         &-txt {
            margin: 0 0 18px 0;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #5d5d5d;
         }
         &-price {
            display: block;
            margin: 0;
            font-size: 16px;
            line-height: 19px;
            color: $pink;
         }
         &-btn {
            display: none;
            justify-content: center;
            align-items: center;
            width: 160px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid $white;
            background: transparent;
            text-align: center;
            font-size: 14px;
            line-height: 17px;
            color: $white;
            position: absolute;
            top: 30%;
            left: calc(50% - 80px);
         }
         &-btn svg {
            fill: $white;
            margin: 0 11px 0 0;
         }
      }
   }
   .pagination {
      display: flex;
      width: 100%;
      margin: 49px 0 0 0;
      justify-content: center;
      align-items: center;
      background-color: $white;
      position: relative;
      svg {
         display: block;
         fill: $black;
         width: 14px;
         height: 8px;
         &:hover {
            fill: $pink;
         }
         &:active {
            fill: $activ-color;
         }
      }
      &-list {
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         width: 283px;
         list-style-type: none;
         border: 1px solid #ebebeb;
         padding: 12px 40px;
         box-sizing: border-box;
         border-radius: 3px;
         &:hover {
            border: 1px solid $pink;
         }
         &__item {
            display: inline;
            &-link {
               font-weight: 300;
               font-size: 16px;
               line-height: 19px;
               color: #ebebeb;
            }
            &-link:hover {
               color: $pink;
               font-weight: bold;
            }
            &-link:active {
               color: $activ-color;
            }
         }
         & > li:nth-of-type(1) a {
            color: $pink;
         }
      }
      .svg-link-left svg {
         position: absolute;
         right: 60%;
         top: 42%;
         transform: rotate(-270deg);
         z-index: 20;
      }
      .svg-link-right svg {
         position: absolute;
         right: 39%;
         top: 42%;
         transform: rotate(270deg);
         z-index: 20;
      }
      .svg-link-right svg:hover {
         transform: scale(1.5) rotate(270deg);
      }
      .svg-link-left svg:hover {
         transform: scale(1.5) rotate(-270deg);
      }
   }
}

/*==========Page Product==========*/

.page-product {
   max-width: $width;
   width: 100%;
   padding: 0 0 128px;
   background-color: $white;
   &-carousel-wrp {
      max-width: $width;
      width: 100%;
      height: 777px;
      background: #f7f7f7;
      border: 1px solid #eaeaea;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .carousel {
      width: 100%;
      height: 724px;
      position: relative;
      &-inner {
         display: flex;
         justify-content: center;
      }
      .image-size {
         height:724px;
      }
      .prev {
         position: absolute;
         left: 0;
         top: 46%;
         border: none;
         z-index: 11;
         svg {
            fill: $black;
         }
      }
      .next {
         position: absolute;
         right: 0;
         top: 46%;
         border: none;
         z-index: 11;
         svg {
            fill: $pink;
         }
      }
      button:hover {
         filter: brightness(50%);
      }
      button:active svg {
         fill: $white;
      }
     
   }
   .product-card-wrp {
      width: 100%;
      height: 600px;
      position: relative;
      margin: 0 0 126px 0;
      background-color: $white;
   }
   .product-card {
      display: flex;
      flex-direction: column;
      max-width: $wrp;
      min-height: 600px;
      background: $white;
      margin: 0 auto;
      align-items: center;
      padding: 53px 0 40px 0;
      border: 1px solid #eaeaea;
      box-sizing: border-box;
      position: absolute;
      top: -35px;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
      &__name {
         display: block;
         font-weight: 300;
         font-size: 14px;
         line-height: 17px;
         color: $pink;
         text-transform: uppercase;
         padding: 12px;
         margin: 0 0 12px;
         position: relative;
         &:after {
            content: "";
            display: block;
            width: 63px;
            border-bottom: 3px solid $pink;
            position: absolute;
            right: 30%;
            bottom: -10%;
         }
      }
      &__title {
         font-weight: 300;
         font-size: 18px;
         line-height: 22px;
         color: #4d4d4d;
         text-transform: uppercase;
         margin: 0 0 48px;
      }
      &__txt {
         max-width: 555px;
         min-height: 52px;
         font-weight: 300;
         font-size: 14px;
         line-height: 17px;
         text-align: center;
         color: #5e5e5e;
         margin: 0 0 32px;
      }
      &__price {
         font-weight: 300;
         font-size: 24px;
         line-height: 29px;
         color: $pink;
      }
      &__line {
         height: 1px;
         width: 641px;
         color: #cacaca;
         margin: 65px 0;
      }
      &__sort {
         display: flex;
         justify-content: space-between;
         align-items: baseline;
         font-weight: normal;
         font-size: 14px;
         line-height: 17px;
         color: #6f6e6e;
         text-transform: uppercase;
         width: 373px;
      }
      &__btn {
         display: flex;
         text-align: center;
         justify-content: center;
         align-items: center;
         width: 211px;
         padding: 14px 0 14px 0;
         box-sizing: border-box;
         border: 1px solid #ff6a6a;
         background: transparent;
         text-align: center;
         font-size: 14px;
         line-height: 17px;
         color: $pink;
         margin: 48px 0 25px 0;
         svg {
            fill: $pink;
            margin: 0 11px 0 0;
         }
         &:hover {
            box-sizing: border-box;
            border: 2px solid #ff6a6a;
         }
         &:active {
            border: 1px solid $activ-color;
         }
         span {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $pink;
            &:hover {
               font-weight: bold;
            }
            &:active {
               color: $activ-color;
            }
         }
      }
      &__btn:active svg {
         fill: $activ-color;
      }
   }
}

/*==========Page Cart==========*/

.page-cart {
   max-width: $width;
   width: 100%;
   background-color: $white;
   display: flex;
   justify-content: center;
   &-wrp {
      padding: 96px 0 128px 0;
      max-width: $wrp;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

   }
   &-list {
      display: flex;
      flex-direction: column;
      &__item {
         display: flex;
         width: 652px;
         height: 306px;
         margin: 0 0 40px 0;
         box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
         &-img {
            width: 40%;
            img {
               width: 100%;
               height: 100%;
            }
         }
         &-desc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 60%;
            padding: 22px 97px 62px 31px;
            font-weight: normal;
            position: relative;
            &::before,
            &::after {
               content: "";
               display: block;
               width: 23px;
               height: 2px;
               background: #575757;
               border-radius: 10px;
               position: absolute;
               top: 35px;
               right: 24px;
               transform: rotate(45deg);
            }
            &::after {
               transform: rotate(-45deg);
            }
            &:hover::before,
            &:hover::after {
               background: $pink;
            }
            &:active::before,
            &:active::after {
               background: $activ-color;
            }
            h3 {
               font-size: 24px;
               line-height: 29px;
               text-transform: uppercase;
               word-wrap: break-word;
               margin: 0 52px 42px 0;
            }
            .desc-box {
               list-style-type: none;
               font-size: 22px;
               line-height: 26px;
               color: #575757;
               padding: 0;
               margin: 0;
               li > span {
                  color: $pink;
               }
            }
            input {
               position: absolute;
               width: 44px;
               padding: 1px 15px;
               top: 219px;
               left: 145px;
            }
         }
      }
      &__item:last-of-type {
         margin: 0 0 72px 0; 
      }
      &__btn {
         display: flex;
         justify-content: space-between;
         button {
            padding: 16px 40px;
            border: 1px solid #a4a4a4;
            background-color: $white;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            &:hover {
               border: 1px solid $pink;
               color: $pink;
            }
            &:active {
               border: 1px solid $activ-color;
               color: $activ-color;
            }
         }
      }
   } 
   &-shipping {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 360px;
      padding: 17px 0 0 0;
      h6 {
         font-weight: 300;
         font-size: 16px;
         line-height: 19px;
         text-transform: uppercase;
         margin: 0 0 21px;
      }
      &__form {
         display: flex;
         flex-direction: column;
         max-width: 360px;
         width: 100%;
         margin: 0 0 58px 0;
         input {
            width: 100%;
            padding: 13px 0 16px 17px;
            margin-bottom: 21px;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            border: 1px solid #a4a4a4;
            &::placeholder {
               color: $black;
            }
            &:first-of-type::placeholder {
               color: #b1b1b1;
            }
            &:last-of-type {
               margin-bottom: 24px;
            }
         }
         button {
            width: 100px;
            font-size: 11px;
            line-height: 13px;
            color: #4a4a4a;
            background-color: $white;
            border: 1px solid #a4a4a4;
            text-transform: uppercase;
            padding: 10px 13px 10px;
            &:hover {
               color: $pink;
               border-color: $pink;
               box-sizing: border-box;
            }
         }
      }
      &__checkout {
         display: block;
         max-width: 360px;
         width: 100%;
         padding: 39px 36px 42px 52px;
         background: #f5f3f3;
         box-sizing: border-box;
         h6 {
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;
            color: #4a4a4a;
            text-align: end;
            margin: 0 0 12px;
         }
         h4 {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            text-align: end;
            margin: 0 0 21px;
            span {
               font-weight: normal;
               color: $pink;
            }
         }
         hr {
            height: 1px;
            background: #e2e2e2;
            margin: 0 0 17px;
         }
         a {
            display: block;
            text-decoration: none;
            padding: 16px 38px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: $white;
            text-transform: uppercase;
            background: $pink;
            border: none;
            word-wrap: break-word;
            text-align: center;
            &:hover {
               color: $pink;
               background: $white;
               border: 1px solid $pink;
               box-sizing: border-box;
            }
         }
      }
   }
}

/*==========Page Registration==========*/

.registration {
   max-width: $width;
   width: 100%;
   background-color: $white;
   display: flex;
   justify-content: center;
   &-wrp {
      max-width: $wrp;
      width: 100%;
      margin: 0 auto;
      padding: 64px 0 96px;
      display: flex;
      justify-content: space-between;
   }
   &-form {
      display: block;
      width: 360px;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      label {
         margin: 0 0 20px;
         &:nth-of-type(1) {
            margin: 0 20px 33px 0;
         }
      }
      &__input {
         display: block;
         width: 100%;
         border: 1px solid #A4A4A4;
         padding: 13px 0 13px 17px;
         margin: 0 0 21px 0;
         &::placeholder {
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
         }
      }
      &__radio {
         font-size: 11px;
         line-height: 13px;
         label {
            display: inline-flex;
         }
         span {
            padding-left: 10px;
         }
      } 
      &__requirement {
         max-width: 360px;
         font-weight: 300;
         font-size: 13px;
         line-height: 16px;
         color: #B1B1B1;
         margin: 0 0 39px;
      }
      button {
         font-weight: normal;
         font-size: 14px;
         line-height: 17px;
         color: $white;
         text-transform: uppercase;
         background: $pink;
         padding: 16px 60px 16px 29px;
         border: none;
         background-image: url(../img/arrow.svg);
         background-repeat: no-repeat;
         background-position-x: 119px;
         background-position-y: 18px;
      }
   }
   &-conditions {
      max-width: 652px;
      min-height: 334px;
      display: block;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      word-break: break-all;
      h3 {
         text-transform: uppercase;
         margin: 0 0 22px 0;
      }
      p {
         width: 100%;
         margin: 0;
      }
      ul {
         list-style-position: outside;
         list-style-image: url(../img/done.svg);
         padding: 21px 53px 21px 28px;
         margin: 0;
         li {
            margin: 0 0 16px 0;
         }
      }
   }
}

/*==========Adaptive Tablet==========*/
/*==========Page Main==========*/

@include breakpoint(md) {
   
   .page-main-banner {
      min-height: 367px;
      margin: 0 0 20px 0;
   }
   .page-main-banner-wrp {
      background-position: 0;
   }
   .page-main-banner-cap {
      width: 43%;
      padding: 0 33px 0 0;
      box-sizing: border-box;
   }
   .page-main-banner-cap__title {
      font-size: 44px;
      line-height: 52.8px;
   }
   .page-main-banner-cap__subtitle {
      font-size: 24px;
      line-height: 28.8px;
   }
   .page-main .categories {
      padding: 0 16px;
      box-sizing: border-box;
   }
   .page-main .categories-item {
      width: 232px;
      min-height: 167px;
      margin: 0 17px 19px 0;
   }
   .page-main .categories-item:last-child {
      margin: 0;
   }
   .page-main .categories-item:nth-child(3) {
      margin: 0 0 19px 0;
   }

 /*==========Page Catalog==========*/

   .page-catalog-nav {
      padding: 0 16px;
   }
   .page-catalog-control {
   justify-content: space-between;
      padding: 10px 0 10px 0;
   }
   .page-catalog-control .sort-price span {
      padding: 0 0 0 12px;
   }
   .page-catalog-control .sort-price svg {
      padding: 0 0 0 12px;
   }
   .page-catalog .products-item:nth-of-type(3) {
      display: none;    
   }
   .page-catalog .pagination {
      margin: 40px 0 0 0;
   }
   .page-catalog .pagination .svg-link-right svg {
      right: 34%;
   }
   .page-catalog .pagination .svg-link-left svg {
      right: 64%;
   }
 /*==========Page Product==========*/

   .page-product-carousel-wrp {
      height: 624px;
   }
   .page-product .carousel .image-size {
      height: 624px;
   }
   .page-product .carousel .prev {
      left: 0;
      top: 48%;
      z-index: 19;
   }
   .page-product .carousel .next {
      right: 0;
      top: 48%;
      z-index: 19;
   }
   .page-product .product-card {
      top: 0px;
      padding: 53px 64px 40px;
      box-sizing: border-box;
   }
   .page-product .product-card__txt {
      padding: 0 45px 0;
      box-sizing: border-box;
   }
   .page-product .products .products-item:nth-of-type(3) {
      display: none;
   }
 /*==========Page Cart==========*/

   .heading {
      padding: 0 16px;
   }
   .page-cart-wrp {
      flex-direction: column;
      padding: 59px 16px 0;
   }
   .page-cart-list__item {
      width: 100%;
   }
   .page-cart-list__item-img {
      width: 36%;
   }
   .page-cart-list__item-desc {
      width: 64%;
   }
   .page-cart-list__item:last-of-type {
      margin: 0 0 62px 0;
   }
   .page-cart-list__btn {
      justify-content: space-evenly;
      padding: 0 25px;
   }
   .page-cart-shipping {
      padding: 64px 0 0 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
   }
   .page-cart-shipping__form {
      margin: 0 0 128px 0;
   }
   .page-cart-shipping__checkout {
      height: 214px;
      margin-bottom: 16%;
   }
 /*==========Page Registration==========*/
   .registration-wrp {
      padding: 40px 16px 96px;
   }
   .registration-conditions {
      max-width: 354px;
      min-height: 337px;
   }
   .registration-conditions h3, p, ul {
      font-size: 16px;
      line-height: 19px;
   }
}

 /*==========Adaptive Mobile==========*/
 /*==========Page Main==========*/

@include breakpoint(xs) {

   .page-main-banner-wrp {
      background-image: none;
      justify-content: center;
   }
   .page-main-banner-cap {
      padding: 0 0 0 26px;
      width: 70%;
   }
   .page-main-banner-cap__title {
      font-size: 38px;
      line-height: 46px;
   }
   .page-main-banner-cap__subtitle {
      font-size: 20px;
      line-height: 24px;
   }
   .page-main-banner-cap__subtitle :before {
      height: 61px;
      top: -43px;
      left: -25px;
   }
   .page-main .categories {
      justify-content: center;
      margin: 0 auto 64px auto;
   }
   .page-main .categories-item {
      margin: 0 0 32px 0;
      width: 343px;
      height: 247px;
   }
 
   /*==========Page Catalog==========*/
   
   .page-catalog-nav-wrp {
      justify-content: center;
      align-self: baseline;
   }
   .page-catalog-nav-cap {
      padding: 24px 20px 32px;
   }
   .page-catalog-control {
      padding: 16px 8px 20px 8px;
      width: 100%;
      box-sizing: border-box;
   }
   .page-catalog-control__filter {
      padding: 8px 16px 10px 0;
      width: 60px;
      box-sizing: border-box;
   }
   .page-catalog-control .filter-btn {
      margin: 0;
   }
   .page-catalog-control .filter-btn span {
      display: none;
   }
   .page-catalog-control .filter-btn svg {
      width: 37px;
      height: 25px;
      margin: 0;
   }
   .page-catalog-control__sort {
      width: 100%;
      padding: 10px 8px 8px 45px;
   }
   .page-catalog-control .link-trend, .page-catalog-control .sort-price, .page-catalog-control .list-size  {  
      font-size: 12px;
      line-height: 14.4px;
      margin: 0 0 15px 0;
   }
   .page-catalog-control .link-trend {
      width: 96px;
      padding-right: 10px;
   }
   .page-catalog-control .link-trend svg {
      top: 27%;
      left: 100%;
      z-index: 20;
   }
   .page-catalog-control .list-size, .page-catalog-control .sort-price {
      width: 50px;
   }
   .page-catalog-control .list-size {
      padding-left: 27px;
   }
   .page-catalog-control .list-size-btn-title svg {
      top: 27%;
      left: 66%;
      z-index: 20;
   }
   .page-catalog-control .sort-price {
      padding-left: 10px;
   }
   .page-catalog-control .sort-price span {
      padding: 0;
   }
   .page-catalog-control .sort-price svg {
      top: 27%;
      left: 88%;
      z-index: 20;
      padding: 0;
   }  
   .page-catalog .products {
      justify-content: center;
   }
   .page-catalog .pagination {
      margin: 24px 0 0 0;
   }
   .page-catalog .pagination .svg-link-left svg {
      right: 79%;
   }
   .page-catalog .pagination .svg-link-right svg {
      right: 17%;
   }
 /*==========Page Product==========*/
   
   .page-product {
      padding: 0 0 64px;
   }
   .page-product .carousel {
      width: 100%;
      height: 624px;
      display: contents;
   }
   .page-product-carousel-wrp {
      width: auto;
   }
   .page-product .carousel .image-size {
     width: 100%;
     height: 100%;
   }
   .page-product .carousel .prev {
      left: 1%;
      top: 65%;
   }
   .page-product .carousel .next {
      right: 1%;
      top: 65%;
   }
   .page-product .product-card-wrp {
      margin: 0 0 64px;
   }
   .page-product .product-card__title {
      margin: 0 0 32px;
   }
   .page-product .product-card__txt {
      line-height: 143.1%;
      padding: 0 5px 5px;
   }
   .page-product .product-card__line {
      width: 175px;
      margin: 32px 0 49px;
   }
   .page-product .product-card {
      padding: 50px 25px 40px;
   }
   .page-product .product-card__sort {
      width: 100%;
      font-size: 10px;
      line-height: 12px;
   }
   .page-product .product-card__btn {
      margin: 65px auto 25px;
   }
   .page-product .products .products-item:nth-of-type(2) {
      display: none;
   }
   .page-product .products .products-item:nth-of-type(3) {
      display: block;
   }
}
