$black: #222224;
$pink: #f16d7f;
$white: #fff;
$grey: #636363;
$activ-color: #535353;
$width: 1600px;
$wrp: 1140px;
$height-block-fst: 75px;
// изменить имя переменных с высотой
$height-block-snd: 764px;
$height: 148px;
$out-bkgd: #e5e5e5;
