$black: #222224;
$pink: #f16d7f;
$width: 1600px;
body {
   font-family: "Lato", sans-serif;
   color: $black;
}
.container {
   margin: 0 auto;
   max-width: $width;
   padding: 0 15px 0 15px;
   box-sizing: border-box;
}
.page-header {
   max-width: 100%;
   min-height: 75px;
   display: flex;
   align-items: center;
   background: $black;
   &__search-wrp {
      display: flex;
      flex-grow: 1;
      margin-left: 231px;
      .logo {
         margin: 0 41px 0 0;
      }
      .search {
         margin-top: 10px;
         position: absolute;
      }
      .input-search {
         border: none;
         height: 38px;
         font-size: 18px;
         visibility: hidden;
         position: relative;
         top: 3px;
         left: 38px;
         &:hover {
            visibility: visible;
         }
         &:focus {
            visibility: visible;
         }
      }
   }
   &__btn-wrp {
      display: flex;
      margin-right: 231px;
      justify-content: flex-end;

      .menu-btn {
         margin-right: 33px;
         background: none;
         span {
            color: white;
            font-size: xx-large;
            &:hover {
               color: $pink;
            }
         }
      }
      .account-btn {
         margin-right: 33px;
         background: none;
      }
      .cart-btn {
         background: none;
      }
   }
}
.page-main {
   width: 100%;
   &__banner {
      max-width: 100%;
      background-color: #f1e4e6;
      height: 764px;
      display: flex;
      figure {
         margin: 0;
         width: $width/2;
         display: flex;
         .banner-img {
            max-width: 764px;
         }
      }
      .banner-cap {
         width: $width/2;
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin-left: 64px;
         padding-bottom: 91px;
         .cap-title {
            font-weight: 900;
            font-size: 48px;
            line-height: 57px;
            text-transform: uppercase;
            margin: 0;
         }
         .cap-subtitle {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            text-transform: uppercase;
            margin: 0;
            span {
               color: $pink;
            }
            position: relative;
            ::before {
               content: "";
               width: 12px;
               height: 93px;
               background-color: #f16d7f;
               position: absolute;
               top: -55px;
               left: -32px;
            }
         }
      }
   }
}

.page-main-wrp {
   max-width: 1140px;
   margin: 0 auto;
   .categories {
      max-width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 65px 0 0 0;
      &__wrp {
         max-width: 100%;
         display: flex;
         justify-content: space-between;
         :nth-child(3) {
            margin-right: 0;
         }
      }
      &__item {
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 360px;
         height: 260px;
         background-repeat: no-repeat;
         margin-right: 30px;
         .item-subtitle {
            font-size: 16px;
            line-height: 19px;
            font-weight: normal;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
         }
         .item-title {
            font-size: 24px;
            line-height: 28px;
            font-weight: 700;
            text-align: center;
            color: $pink;
            text-transform: uppercase;
         }
      }
      // КАК ЗАТЕМНИТЬ КАРТИНКИ?!
      .item-woman {
         background-image: url(/img/woman.png);
      }
      .item-man {
         background-image: url(/img/man.png);
      }
      .item-kid {
         background-image: url(/img/kid.png);
      }
      .item-colage {
         background-image: url(/img/colage.png);
         width: 1140px;
         height: 180px;
         margin: 30px 0 0 0;
      }
   }
}
.products-header {
   text-align: center;
   margin-top: 96px;
   &__title {
      font-size: 30px;
      line-height: 36px;
      font-weight: normal;
      margin: 0 0 6px 0;
   }
   &__text {
      font-size: 14px;
      line-height: 17px;
      color: #9f9f9f;
      font-weight: normal;
   }
}
