body {
  font-family: "Lato", sans-serif;
  color: #222224;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 15px 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header {
  max-width: 100%;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222224;
}

.page-header__search-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 231px;
}

.page-header__search-wrp .logo {
  margin: 0 41px 0 0;
}

.page-header__search-wrp .search {
  margin-top: 10px;
  position: absolute;
}

.page-header__search-wrp .input-search {
  border: none;
  height: 38px;
  font-size: 18px;
  visibility: hidden;
  position: relative;
  top: 3px;
  left: 38px;
}

.page-header__search-wrp .input-search:hover {
  visibility: visible;
}

.page-header__search-wrp .input-search:focus {
  visibility: visible;
}

.page-header__btn-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 231px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-header__btn-wrp .menu-btn {
  margin-right: 33px;
  background: none;
}

.page-header__btn-wrp .menu-btn span {
  color: white;
  font-size: xx-large;
}

.page-header__btn-wrp .menu-btn span:hover {
  color: #f16d7f;
}

.page-header__btn-wrp .account-btn {
  margin-right: 33px;
  background: none;
}

.page-header__btn-wrp .cart-btn {
  background: none;
}

.page-main {
  width: 100%;
}

.page-main__banner {
  max-width: 100%;
  background-color: #f1e4e6;
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-main__banner figure {
  margin: 0;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-main__banner figure .banner-img {
  max-width: 764px;
}

.page-main__banner .banner-cap {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 64px;
  padding-bottom: 91px;
}

.page-main__banner .banner-cap .cap-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 57px;
  text-transform: uppercase;
  margin: 0;
}

.page-main__banner .banner-cap .cap-subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}

.page-main__banner .banner-cap .cap-subtitle span {
  color: #f16d7f;
}

.page-main__banner .banner-cap .cap-subtitle ::before {
  content: "";
  width: 12px;
  height: 93px;
  background-color: #f16d7f;
  position: absolute;
  top: -55px;
  left: -32px;
}

.page-main-wrp {
  max-width: 1140px;
  margin: 0 auto;
}

.page-main-wrp .categories {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 65px 0 0 0;
}

.page-main-wrp .categories__wrp {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-main-wrp .categories__wrp :nth-child(3) {
  margin-right: 0;
}

.page-main-wrp .categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 360px;
  height: 260px;
  background-repeat: no-repeat;
  margin-right: 30px;
}

.page-main-wrp .categories__item .item-subtitle {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.page-main-wrp .categories__item .item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #f16d7f;
  text-transform: uppercase;
}

.page-main-wrp .categories .item-woman {
  background-image: url(/img/woman.png);
}

.page-main-wrp .categories .item-man {
  background-image: url(/img/man.png);
}

.page-main-wrp .categories .item-kid {
  background-image: url(/img/kid.png);
}

.page-main-wrp .categories .item-colage {
  background-image: url(/img/colage.png);
  width: 1140px;
  height: 180px;
  margin: 30px 0 0 0;
}

.products-header {
  text-align: center;
  margin-top: 96px;
}

.products-header__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  margin: 0 0 6px 0;
}

.products-header__text {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */